body{
    background-color: black;

}

h1{
    color: white;
    margin-left: 5px;
    
}

.img-fluid{
    margin: auto;
    display: block;
    width: 90%;
}

#video{
    text-align: center;
}

p{
    margin-top: 50px;
    
}


